name: Building and testing library
run-name: Building and testing library
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    container:
      image: seajackal/hydrolib:latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Configure and build
        run: |
          cmake --preset Debug
          cmake --build ./build