name: Building devcontainer image
run-name: Building devcontainer image
on:
  push:
    paths:
      - '.devcontainer/Dockerfile'
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: seajackal
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and push production image
        uses: docker/build-push-action@v6
        with:
          context: ${{ github.workspace }}
          file: .devcontainer/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: seajackal/hydrolib:latest
          cache-from: type=local,src=/tmp/.buildx-cache
